<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>JOIN PAGE</h1>
<form method="post" action="/join">
    <p>
        <label for="username" class="screenreader">Username</label>
        <input type="text" id="username" name="username" placeholder="Username" required="" autofocus="">
    </p>
    <p>
        <label for="password" class="screenreader">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" required="">
    </p>
    <!--        <input name="_csrf"  th:value="${_csrf.token}">-->
    <button type="submit" class="primary">Sign in</button>
</form>
</body>
</html>