<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>PORTONE INDEX PAGE</h1>

<a href="javascript:void(0)" class="cert-btn">인증하기</a>
<hr/>
<a href="javascript:void(0)" class="pay-btn">결제하기</a>


<!--  axios cdn   -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.10.0/axios.min.js" integrity="sha512-WkZrEcQ5LMyNy6Y2PQf+Tu3vMcsmKKRKuPXtJSTHQJ3mpuvLRlA5dlDDhrrcXfyWr6Z/y3wIMfjfqVFO/gDZYQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<script>
    IMP.init("imp70500111");

    const certBtn = document.querySelector('.cert-btn');
    certBtn.addEventListener('click',()=>{
        console.log('certBtn clicked...');

        const date = new Date();

        IMP.certification({
            channelKey: "channel-key-4e1eceea-5674-46c7-abd0-9a66c59a57b6",
            merchant_uid: "test_"+date.toString(),
        }, function (resp){
            console.log(resp);
            const imp_uid = resp.imp_uid;
            //비동기 요청(axios)
            axios.get("/portOne/certifications/"+imp_uid)
            .then((resp_2)=>{
                console.log("사용자 정보 조회" , resp_2)
            })
            .error(()=>{})
        });

    })
    //
    const payBtn = document.querySelector('.pay-btn');
    payBtn.addEventListener('click',()=>{

      const date = new Date();
      const timeStamp = date.getTime();
      console.log('timeStamp',timeStamp)
      IMP.request_pay({
        channelKey: "channel-key-58096bc1-3983-420d-af09-f11f9a5ecf23",
        pay_method: "card",
        merchant_uid: "test_"+timeStamp,
        name: "초코파이",
        amount: 500,
        buyer_tel: "010-0000-0000",
      });

    })
</script>


</body>
</html>