<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <!--  BS CDN  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    <!-- FULLCALENDAR CDN   -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/index.global.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.19/index.global.min.js"></script>    <style>
    .fc-col-header-cell-cushion{ text-decoration : none !important; color:black !important;}
</style>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
          var calendarEl = document.getElementById('calendar');

          //
          var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            googleCalendarApiKey: 'AIzaSyBruxAhP3DFzpDR2tM7Xc6mqNcfzM9LcgM',
            events: {
                googleCalendarId: 'd242c08779df33cc221721c759b3649045ce86f73fabe18c3c9970db930148b9@group.calendar.google.com'
            },
            dateClick: function(info) {
                console.log(info);
                console.log('Date: ' + info.dateStr);
                //console.log('Resource ID: ' + info.resource.id);
                const eventModalBtn = document.querySelector('.date-event-modal-btn');
                eventModalBtn.click();
            },
            eventClick: function(info) {
                info.jsEvent.preventDefault(); //기본동작 기능 제거
                console.log(info.event._def.extendedProps);
                console.log('Event: ' + info.event.title);
            }

          });

          calendar.render();
        });
    </script>
</head>
<body>
<div id='calendar'></div>

<!-- Button trigger modal -->
<button type="button" style="display:none;" class="btn btn-primary date-event-modal-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/google/cal" method="post" name="eventAddForm">
                    <div>
                        <label>날짜 : </label>
                        <input type="date" name="date" />
                    </div>
                    <div>
                        <label>제목 : </label>
                        <input type="text" name="title" />
                    </div>
                    <div>
                        <label>내용 : </label>
                        <textarea name="desc"></textarea>
                    </div>
                    <div>
                        <button>일정 등록</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>