<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>대구 돌발정보 확인</h1>

    <th:block th:each="item:${list}">
        <p>
            <span th:text="${item.LOCATION}"> </span> &nbsp |
            <span th:text="${item.INCIDENTTITLE}"> </span> &nbsp |
            <span th:text="${item.LOGDATE}"> </span> &nbsp |
            <span th:text="${item.TROUBLEGRADE}"> </span> &nbsp |
            <span th:text="${item.STARTDATE}"> </span> &nbsp |
            <span th:text="${item.INCIDENTSUBCODE}"> </span> &nbsp |
        </p>
    </th:block>

</body>
</html>